################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/TryJira/v15/Server/sqlite3/storage.ide-wal
/.vs/TryJira/v15
